/* Set the body and html to full screen height */
:root {
	color-scheme: light dark;

    --light-main-color:#000;
    --light-bg-color: #FFF;
    --light-accent-color: #272727;

	--dark-main-color:#FFF;
    --dark-bg-color: #111;
    --light-accent-color: #AAA;
}

html, body {
	height: 100%;
	background: none light-dark(var(--light-bg-color),var(--dark-bg-color));
	font-size: clamp( 16px, 20px, 4vw);
}

body {
	min-height: 100%;
}

/* Remove dotted borders around the links when clicked */
a, a:active, a:focus, input:focus {
	text-decoration: none !important;
	outline: 0;
}

body {
	padding: 0;
	margin: 0;
	background: light-dark(var(--light-bg-color),var(--dark-bg-color));
	color: light-dark(var(--light-accent-color),var(--dark-accent-color));
	font-family: 'Roboto Mono', monospace;
	font-size: 1em;
}

.content-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1;
}

.abs-fs {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 1200px;
          perspective: 1200px;
  opacity: 0.23;
}

.content-wrapper::before {
	content: '';
	display: inline-block;
	height: 100%;
	margin-right: -0.25em;
	vertical-align: middle;
}

.v-center {
	position: relative;
	display: inline-block;
	width: 80%;
	text-align: center;
	vertical-align: middle;
}

/* Content Headings, Paragraphs */
.main-content {
	max-width: 100vw;
	margin: 3.75em auto;
	font-size: 1em;
	text-align: left;
	line-height: 2em;
}

p {
	font-size: 1em;
	line-height: 1.875em;
	margin: 0;
	padding: 0 0 0.9375em 0;
}

h3 {
	margin: 0.938em 0 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	letter-spacing: 0.125em;
	color: light-dark(var(--light-main-color),var(--dark-main-color));
	line-height: 1.875em;
}

p a {
	color: light-dark(var(--light-accent-color),var(--dark-accent-color));
	border-bottom: 0.15em dashed light-dark(var(--light-main-color),var(--dark-main-color));
}

p a:hover {
	color: light-dark(var(--light-main-color),var(--dark-main-color));
}

.main-content p:last-child {
	padding: 0;
}

p span {
	color: light-dark(var(--light-bg-color),var(--dark-bg-color));
	background: light-dark(var(--light-main-color),var(--dark-main-color));
	padding: 0.25em 0.5em;
}

/* Horizontal and vertical center content */
.abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(50%,-50%); /* IE 9 */
	-webkit-transform: translate(50%,-50%); /* Safari */
	-moz-transform: translate(50%,-50%); /* Firefox Older versions*/
	-o-transform: translate(50%,-50%); /* Opera */
	transform: translate(50%,-50%);
}

.screen {
  visibility: hidden;
}